table,
th,
tr,
td {
  border: unset;
}
.p{
  overflow-x: auto;
}
.p table{
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
}
.behind{
  position: relative;
  z-index: -1;
}
.p{
    border-radius: 10px;
    /* border: 1px gainsboro solid; */
    border-radius: 10px;
}
.table > :not(:first-child) {
  border-top: 1px solid gainsboro;
}
.p th {
  position: relative;
}
.MuiPaper-elevation1{
  z-index: -1;
}

.p th:after {
  content: " ";
  position: absolute;
  border-left: 1px gainsboro solid;
  top: 34%;
  right: 0;
  height: 40%;
  margin-top: auto;
  margin-bottom: auto;
}
.MuiPaper-rounded{
  border: 1px gainsboro solid;
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}
.deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}
.viewButton:hover {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
  }
  .deleteButton:hover {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: crimson;
    color: #fff;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
  }
  
  .tool{
    padding: 10px;
  }

  .tool:hover{
    color: rgb(78, 77, 77);
    font-weight: 600;
    
  }
  .Remove{
    color: none;
  }
  .acbtn{
    background-color: #205375;
    
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .acbtn p{
    color: #fff !important;
  }